ul {
    padding: 1em;
}
a{
    width: 100%;
    display: block;
    padding: .5em -0px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #04be02;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
    overflow: visible;
    color: #ffffff !important;
    line-height: 42px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}