<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./static/css/reset.css">
    <link rel="stylesheet" href="./static/css/index.css">
    <title>首页</title>
</head>
<body>
<ul>
    <li><a href="/mockEnglish">模拟题英语</a></li>
    <li><a href="/mockComputer">模拟题计算机</a></li>
    <li><a href="/mockMath">模拟题数学</a></li>
    <li><a href="/reviewEnglish">复习题英语</a></li>
    <li><a href="/reviewComputer">复习题计算机</a></li>
    <li><a href="/reviewMath_1">复习题数学-1</a></li>
    <li><a href="/reviewMath_2">复习题数学-2</a></li>
    <li><a href="/reviewMath_3">复习题数学-3</a></li>
</ul>
</body>
</html>